*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    height: 60px;
    background-color: chocolate;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    /* z-index: 1; */
}

.list-container {
     width: 80%;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
}

li{
list-style: none;
margin: 0 30px;
}
 
a{
 color: #fff;
 text-decoration: none;
}


.container{
    height: 50vh;
    width: 80%;
    margin: auto;
    background-color: blueviolet;
    margin-top: 150px;
    position: relative;
    /* z-index: 2; */
    z-index: -1;

}

.box {
    height: 60px;
    width: 60px;
    background-color: black;
    position: absolute;
    right: 20%;
    bottom: 20%;
    /* left: 0; */
    /* top: 0; */
    /* bottom: 0; */

}
.box-second{
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 2; */
}

.content{
    height: 100vh;
    background-color: aqua;
    width: 100%;
}


section{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.text-box{
    color: #fff;
    width: 50%;
    text-align: center;
}

#about{
height: 100vh;
width: 100%;
background-color: red;
}

#contact{
    height: 120vh;
    width: 100%;
    background-color: rgb(228, 113, 31);
    overflow-y: scroll;
}

.third-box{
    height: 50px;
    width: 50px;
    background-color: rgb(134, 212, 16);
    position: sticky;
    top: 20%;
}
p{
    margin: 40px 0;

}